[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
dj-database-url = "*"
Django = "*"
django-environ = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
python-decouple = "*"
sqlparse = "*"
tzdata = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
